In [3]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url7 = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#1960"
response7 = requests.get(url7)
soup7 = BeautifulSoup(response7.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response7.status_code}')

# Get all tables in wikitable class
tables7 = soup7.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables7)}')

# Load the 1960 polling table manually by index
df_7 = pd.read_html(str(tables7[6]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df_7.head(250))

# Rename candidate columns for consistency
df_7 = df_7.rename(columns={
    df_7.columns[1]: 'Democratic',
    df_7.columns[2]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df_7.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df_7.dtypes)

# Convert percentage strings to floats
df_7['Democratic'] = df_7['Democratic'].str.replace('%', '').astype(float)
df_7['Republican'] = df_7['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df_7.dtypes)

# Add calculated columns
df_7['Poll_Leading_Margin'] = abs(df_7['Democratic'] - df_7['Republican'])
df_7['Poll_Leader'] = (df_7['Republican'] > df_7['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df_7.head(250))

print(list(df_7.columns))

# Drop the extra columns
df_7 = df_7.drop(columns='Month')
#df_7 = df_7.drop(columns=['Henry A. Wallace (Progressive)\xa0%', 'Strom Thurmond (Dixiecrat)\xa0%'])

print('\nDropped Extra Columns:')
display(df_7.head(250))

# Drop final summary rows (row 14 and 15)
df_7 = df_7.drop(index=[14, 15])
df_7.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (14 & 15):')
display(df_7.tail())

print('\nFinal dtypes:')
display(df_7.dtypes)

# Add year column at the beginning
df_7.insert(0, 'year', 1960)

df_7 = df_7.dropna(subset=['Democratic', 'Republican'], how='all')
df_7 = df_7.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df_7.head(250))

print('\nNumber of Nulls left:')
display(df_7.isnull().sum())

df_7.to_csv("1960_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12157/999924884.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_7 = pd.read_html(str(tables7[6]))[0]

,Month,John F. Kennedy (D) %,Richard Nixon (R) %
0,December 1959/January 1960,43%,48%
1,February/March,48%,48%
2,February/March,50%,45%
3,April/May,51%,44%
4,April/May,48%,47%
5,April/May,47%,49%
6,June/July,50%,46%
7,August/September,44%,50%
8,August/September,47%,47%
9,August/September,48%,47%
10,August/September,46%,47%
11,October/November,49%,46%
12,October/November,49%,45%
13,October/November,51%,49%
14,Actual result,49.72%,49.55%
15,Difference between actual result and final poll,-1.28%,+0.55%

Renamed Columns Table Preview:

                                              Month Democratic Republican
0                        December 1959/January 1960        43%        48%
1                                    February/March        48%        48%
2                                    February/March        50%        45%
3                                         April/May        51%        44%
4                                         April/May        48%        47%
5                                         April/May        47%        49%
6                                         June/July        50%        46%
7                                  August/September        44%        50%
8                                  August/September        47%        47%
9                                  August/September        48%        47%
10                                 August/September        46%        47%
11                                 October/November        49%        46%
12                                 October/November        49%        45%
13                                 October/November        51%        49%
14                                    Actual result     49.72%     49.55%
15  Difference between actual result and final poll     -1.28%     +0.55%

Data Types Before Conversion:

Month         object
Democratic    object
Republican    object
dtype: object

Data Types After Conversion:

Month          object
Democratic    float64
Republican    float64
dtype: object

Table with New Columns:

,Month,Democratic,Republican,Poll_Leading_Margin,Poll_Leader
0,December 1959/January 1960,43.00,48.00,5.00,1
1,February/March,48.00,48.00,0.00,0
2,February/March,50.00,45.00,5.00,0
3,April/May,51.00,44.00,7.00,0
4,April/May,48.00,47.00,1.00,0
5,April/May,47.00,49.00,2.00,1
6,June/July,50.00,46.00,4.00,0
7,August/September,44.00,50.00,6.00,1
8,August/September,47.00,47.00,0.00,0
9,August/September,48.00,47.00,1.00,0
10,August/September,46.00,47.00,1.00,1
11,October/November,49.00,46.00,3.00,0
12,October/November,49.00,45.00,4.00,0
13,October/November,51.00,49.00,2.00,0
14,Actual result,49.72,49.55,0.17,0
15,Difference between actual result and final poll,-1.28,0.55,1.83,1

['Month', 'Democratic', 'Republican', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Democratic  Republican  Poll_Leading_Margin  Poll_Leader
0        43.00       48.00                 5.00            1
1        48.00       48.00                 0.00            0
2        50.00       45.00                 5.00            0
3        51.00       44.00                 7.00            0
4        48.00       47.00                 1.00            0
5        47.00       49.00                 2.00            1
6        50.00       46.00                 4.00            0
7        44.00       50.00                 6.00            1
8        47.00       47.00                 0.00            0
9        48.00       47.00                 1.00            0
10       46.00       47.00                 1.00            1
11       49.00       46.00                 3.00            0
12       49.00       45.00                 4.00            0
13       51.00       49.00                 2.00            0
14       49.72       49.55                 0.17            0
15       -1.28        0.55                 1.83            1

After Dropping Final Rows (14 & 15):

    Democratic  Republican  Poll_Leading_Margin  Poll_Leader
9         48.0        47.0                  1.0            0
10        46.0        47.0                  1.0            1
11        49.0        46.0                  3.0            0
12        49.0        45.0                  4.0            0
13        51.0        49.0                  2.0            0

Final dtypes:

Democratic             float64
Republican             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

    year  Democratic  Republican  Poll_Leading_Margin  Poll_Leader
0   1960        43.0        48.0                  5.0            1
1   1960        48.0        48.0                  0.0            0
2   1960        50.0        45.0                  5.0            0
3   1960        51.0        44.0                  7.0            0
4   1960        48.0        47.0                  1.0            0
5   1960        47.0        49.0                  2.0            1
6   1960        50.0        46.0                  4.0            0
7   1960        44.0        50.0                  6.0            1
8   1960        47.0        47.0                  0.0            0
9   1960        48.0        47.0                  1.0            0
10  1960        46.0        47.0                  1.0            1
11  1960        49.0        46.0                  3.0            0
12  1960        49.0        45.0                  4.0            0
13  1960        51.0        49.0                  2.0            0

Number of Nulls left:

year                   0
Democratic             0
Republican             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64