In [3]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#1972"
response = requests.get(url)
soup = BeautifulSoup(response.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response.status_code}')

# Get all tables in wikitable class
tables = soup.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables)}')

# Load the 1972 polling table manually by index
df = pd.read_html(str(tables[9]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df.head(250))

# Rename candidate columns for consistency
df = df.rename(columns={
    df.columns[2]: 'Democratic',
    df.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df.dtypes)

# Convert percentage strings to floats
df['Democratic'] = df['Democratic'].str.replace('%', '').astype(float)
df['Republican'] = df['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df.dtypes)

# Add calculated columns
df['Poll_Leading_Margin'] = abs(df['Democratic'] - df['Republican'])
df['Poll_Leader'] = (df['Republican'] > df['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df.head(250))

print(list(df.columns))

# Drop the extra columns
df = df.drop(columns='Month')
#df = df.drop(columns=['George Wallace (American Independent)\xa0%'])

print('\nDropped Extra Columns:')
display(df.head(250))

# Drop final summary rows (row 9 and 10)
df = df.drop(index=[9, 10])
df.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (9 & 10):')
display(df.tail())

print('\nFinal dtypes:')
display(df.dtypes)

# Add year column at the beginning
df.insert(0, 'year', 1972)

df = df.dropna(subset=['Democratic', 'Republican'], how='all')
df = df.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df.head(250))

print('\nNumber of Nulls left:')
display(df.isnull().sum())

df_10 = df

df_10.to_csv("1972_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12325/2450140276.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[9]))[0]

,Month,Richard Nixon (R) %,George McGovern (D) %
0,May,53%,34%
1,June,53%,37%
2,July,56%,37%
3,August,57%,31%
4,August,64%,30%
5,September,61%,33%
6,October,60%,34%
7,October,59%,36%
8,November,62%,38%
9,Actual result,60.67%,37.52%
10,Difference between actual result and final poll,-1.33%,-0.48%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                                               May        53%        34%
1                                              June        53%        37%
2                                              July        56%        37%
3                                            August        57%        31%
4                                            August        64%        30%
5                                         September        61%        33%
6                                           October        60%        34%
7                                           October        59%        36%
8                                          November        62%        38%
9                                     Actual result     60.67%     37.52%
10  Difference between actual result and final poll     -1.33%     -0.48%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,May,53.00,34.00,19.00,1
1,June,53.00,37.00,16.00,1
2,July,56.00,37.00,19.00,1
3,August,57.00,31.00,26.00,1
4,August,64.00,30.00,34.00,1
5,September,61.00,33.00,28.00,1
6,October,60.00,34.00,26.00,1
7,October,59.00,36.00,23.00,1
8,November,62.00,38.00,24.00,1
9,Actual result,60.67,37.52,23.15,1
10,Difference between actual result and final poll,-1.33,-0.48,0.85,0

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0        53.00       34.00                19.00            1
1        53.00       37.00                16.00            1
2        56.00       37.00                19.00            1
3        57.00       31.00                26.00            1
4        64.00       30.00                34.00            1
5        61.00       33.00                28.00            1
6        60.00       34.00                26.00            1
7        59.00       36.00                23.00            1
8        62.00       38.00                24.00            1
9        60.67       37.52                23.15            1
10       -1.33       -0.48                 0.85            0

After Dropping Final Rows (9 & 10):

   Republican  Democratic  Poll_Leading_Margin  Poll_Leader
4        64.0        30.0                 34.0            1
5        61.0        33.0                 28.0            1
6        60.0        34.0                 26.0            1
7        59.0        36.0                 23.0            1
8        62.0        38.0                 24.0            1

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

   year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0  1972        53.0        34.0                 19.0            1
1  1972        53.0        37.0                 16.0            1
2  1972        56.0        37.0                 19.0            1
3  1972        57.0        31.0                 26.0            1
4  1972        64.0        30.0                 34.0            1
5  1972        61.0        33.0                 28.0            1
6  1972        60.0        34.0                 26.0            1
7  1972        59.0        36.0                 23.0            1
8  1972        62.0        38.0                 24.0            1

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64