In [3]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#1984"
response = requests.get(url)
soup = BeautifulSoup(response.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response.status_code}')

# Get all tables in wikitable class
tables = soup.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables)}')

# Load the 1984 polling table manually by index
df = pd.read_html(str(tables[12]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df.head(250))

# Rename candidate columns for consistency
df = df.rename(columns={
    df.columns[2]: 'Democratic',
    df.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df.dtypes)

# Convert percentage strings to floats
df['Democratic'] = df['Democratic'].str.replace('%', '').astype(float)
df['Republican'] = df['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df.dtypes)

# Add calculated columns
df['Poll_Leading_Margin'] = abs(df['Democratic'] - df['Republican'])
df['Poll_Leader'] = (df['Republican'] > df['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df.head(250))

print(list(df.columns))

# Drop the extra columns
df = df.drop(columns='Month')
#df = df.drop(columns=['John B. Anderson (I)\xa0%])

print('\nDropped Extra Columns:')
display(df.head(250))

# Drop final summary rows (row 21 and 22)
df = df.drop(index=[21, 22])
df.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (21 & 22):')
display(df.tail())

print('\nFinal dtypes:')
display(df.dtypes)

# Add year column at the beginning
df.insert(0, 'year', 1984)

df = df.dropna(subset=['Democratic', 'Republican'], how='all')
df = df.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df.head(250))

print('\nNumber of Nulls left:')
display(df.isnull().sum())

df_13 = df

df_13.to_csv("1984_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12421/1606790652.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[12]))[0]

,Month,Ronald Reagan (R) %,Walter Mondale (D) %
0,December 1983/January 1984,48%,47%
1,December 1983/January 1984,53%,43%
2,February/March,52%,42%
3,February/March,50%,45%
4,February/March,52%,44%
5,April/May,54%,41%
6,April/May,52%,44%
7,April/May,50%,46%
8,April/May,53%,43%
9,June/July,53%,44%
10,June/July,55%,38%
11,June/July,51%,43%
12,June/July,53%,39%
13,June/July,53%,41%
14,August/September,52%,41%
15,August/September,56%,37%
16,August/September,58%,37%
17,August/September,55%,39%
18,October/November,58%,38%
19,October/November,56%,39%
20,October/November,59%,41%
21,Actual result,58.77%,40.56%
22,Difference between actual result and final poll,-0.23%,-0.44%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                        December 1983/January 1984        48%        47%
1                        December 1983/January 1984        53%        43%
2                                    February/March        52%        42%
3                                    February/March        50%        45%
4                                    February/March        52%        44%
5                                         April/May        54%        41%
6                                         April/May        52%        44%
7                                         April/May        50%        46%
8                                         April/May        53%        43%
9                                         June/July        53%        44%
10                                        June/July        55%        38%
11                                        June/July        51%        43%
12                                        June/July        53%        39%
13                                        June/July        53%        41%
14                                 August/September        52%        41%
15                                 August/September        56%        37%
16                                 August/September        58%        37%
17                                 August/September        55%        39%
18                                 October/November        58%        38%
19                                 October/November        56%        39%
20                                 October/November        59%        41%
21                                    Actual result     58.77%     40.56%
22  Difference between actual result and final poll     -0.23%     -0.44%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,December 1983/January 1984,48.00,47.00,1.00,1
1,December 1983/January 1984,53.00,43.00,10.00,1
2,February/March,52.00,42.00,10.00,1
3,February/March,50.00,45.00,5.00,1
4,February/March,52.00,44.00,8.00,1
5,April/May,54.00,41.00,13.00,1
6,April/May,52.00,44.00,8.00,1
7,April/May,50.00,46.00,4.00,1
8,April/May,53.00,43.00,10.00,1
9,June/July,53.00,44.00,9.00,1
10,June/July,55.00,38.00,17.00,1
11,June/July,51.00,43.00,8.00,1
12,June/July,53.00,39.00,14.00,1
13,June/July,53.00,41.00,12.00,1
14,August/September,52.00,41.00,11.00,1
15,August/September,56.00,37.00,19.00,1
16,August/September,58.00,37.00,21.00,1
17,August/September,55.00,39.00,16.00,1
18,October/November,58.00,38.00,20.00,1
19,October/November,56.00,39.00,17.00,1
20,October/November,59.00,41.00,18.00,1
21,Actual result,58.77,40.56,18.21,1
22,Difference between actual result and final poll,-0.23,-0.44,0.21,1

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0        48.00       47.00                 1.00            1
1        53.00       43.00                10.00            1
2        52.00       42.00                10.00            1
3        50.00       45.00                 5.00            1
4        52.00       44.00                 8.00            1
5        54.00       41.00                13.00            1
6        52.00       44.00                 8.00            1
7        50.00       46.00                 4.00            1
8        53.00       43.00                10.00            1
9        53.00       44.00                 9.00            1
10       55.00       38.00                17.00            1
11       51.00       43.00                 8.00            1
12       53.00       39.00                14.00            1
13       53.00       41.00                12.00            1
14       52.00       41.00                11.00            1
15       56.00       37.00                19.00            1
16       58.00       37.00                21.00            1
17       55.00       39.00                16.00            1
18       58.00       38.00                20.00            1
19       56.00       39.00                17.00            1
20       59.00       41.00                18.00            1
21       58.77       40.56                18.21            1
22       -0.23       -0.44                 0.21            1

After Dropping Final Rows (21 & 22):

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
16        58.0        37.0                 21.0            1
17        55.0        39.0                 16.0            1
18        58.0        38.0                 20.0            1
19        56.0        39.0                 17.0            1
20        59.0        41.0                 18.0            1

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

    year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0   1984        48.0        47.0                  1.0            1
1   1984        53.0        43.0                 10.0            1
2   1984        52.0        42.0                 10.0            1
3   1984        50.0        45.0                  5.0            1
4   1984        52.0        44.0                  8.0            1
5   1984        54.0        41.0                 13.0            1
6   1984        52.0        44.0                  8.0            1
7   1984        50.0        46.0                  4.0            1
8   1984        53.0        43.0                 10.0            1
9   1984        53.0        44.0                  9.0            1
10  1984        55.0        38.0                 17.0            1
11  1984        51.0        43.0                  8.0            1
12  1984        53.0        39.0                 14.0            1
13  1984        53.0        41.0                 12.0            1
14  1984        52.0        41.0                 11.0            1
15  1984        56.0        37.0                 19.0            1
16  1984        58.0        37.0                 21.0            1
17  1984        55.0        39.0                 16.0            1
18  1984        58.0        38.0                 20.0            1
19  1984        56.0        39.0                 17.0            1
20  1984        59.0        41.0                 18.0            1

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64