In [4]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#1988"
response = requests.get(url)
soup = BeautifulSoup(response.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response.status_code}')

# Get all tables in wikitable class
tables = soup.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables)}')

# Load the 1988 polling table manually by index
df = pd.read_html(str(tables[13]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df.head(250))

# Rename candidate columns for consistency
df = df.rename(columns={
    df.columns[2]: 'Democratic',
    df.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df.dtypes)

# Convert percentage strings to floats
df['Democratic'] = df['Democratic'].str.replace('%', '').astype(float)
df['Republican'] = df['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df.dtypes)

# Add calculated columns
df['Poll_Leading_Margin'] = abs(df['Democratic'] - df['Republican'])
df['Poll_Leader'] = (df['Republican'] > df['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df.head(250))

print(list(df.columns))

# Drop the extra columns
df = df.drop(columns='Month')
#df = df.drop(columns=['John B. Anderson (I)\xa0%])

print('\nDropped Extra Columns:')
display(df.head(250))

# Drop final summary rows (row 12 and 13)
df = df.drop(index=[12, 13])
df.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (12 & 13):')
display(df.tail())

print('\nFinal dtypes:')
display(df.dtypes)

# Add year column at the beginning
df.insert(0, 'year', 1988)

df = df.dropna(subset=['Democratic', 'Republican'], how='all')
df = df.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df.head(250))

print('\nNumber of Nulls left:')
display(df.isnull().sum())

df_14 = df

df_14.to_csv("1988_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12567/2231313232.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[13]))[0]

,Month,George H. W. Bush (R) %,Michael Dukakis (D) %
0,March,52%,40%
1,April,45%,43%
2,May,38%,54%
3,June,38%,52%
4,June,41%,46%
5,July,41%,47%
6,July,37%,54%
7,August,42%,49%
8,September,49%,41%
9,September,47%,42%
10,October,50%,40%
11,November,56%,44%
12,Actual result,53.37%,45.65%
13,Difference between actual result and final poll,-2.63%,+1.65%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                                             March        52%        40%
1                                             April        45%        43%
2                                               May        38%        54%
3                                              June        38%        52%
4                                              June        41%        46%
5                                              July        41%        47%
6                                              July        37%        54%
7                                            August        42%        49%
8                                         September        49%        41%
9                                         September        47%        42%
10                                          October        50%        40%
11                                         November        56%        44%
12                                    Actual result     53.37%     45.65%
13  Difference between actual result and final poll     -2.63%     +1.65%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,March,52.00,40.00,12.00,1
1,April,45.00,43.00,2.00,1
2,May,38.00,54.00,16.00,0
3,June,38.00,52.00,14.00,0
4,June,41.00,46.00,5.00,0
5,July,41.00,47.00,6.00,0
6,July,37.00,54.00,17.00,0
7,August,42.00,49.00,7.00,0
8,September,49.00,41.00,8.00,1
9,September,47.00,42.00,5.00,1
10,October,50.00,40.00,10.00,1
11,November,56.00,44.00,12.00,1
12,Actual result,53.37,45.65,7.72,1
13,Difference between actual result and final poll,-2.63,1.65,4.28,0

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0        52.00       40.00                12.00            1
1        45.00       43.00                 2.00            1
2        38.00       54.00                16.00            0
3        38.00       52.00                14.00            0
4        41.00       46.00                 5.00            0
5        41.00       47.00                 6.00            0
6        37.00       54.00                17.00            0
7        42.00       49.00                 7.00            0
8        49.00       41.00                 8.00            1
9        47.00       42.00                 5.00            1
10       50.00       40.00                10.00            1
11       56.00       44.00                12.00            1
12       53.37       45.65                 7.72            1
13       -2.63        1.65                 4.28            0

After Dropping Final Rows (12 & 13):

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
7         42.0        49.0                  7.0            0
8         49.0        41.0                  8.0            1
9         47.0        42.0                  5.0            1
10        50.0        40.0                 10.0            1
11        56.0        44.0                 12.0            1

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

    year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0   1988        52.0        40.0                 12.0            1
1   1988        45.0        43.0                  2.0            1
2   1988        38.0        54.0                 16.0            0
3   1988        38.0        52.0                 14.0            0
4   1988        41.0        46.0                  5.0            0
5   1988        41.0        47.0                  6.0            0
6   1988        37.0        54.0                 17.0            0
7   1988        42.0        49.0                  7.0            0
8   1988        49.0        41.0                  8.0            1
9   1988        47.0        42.0                  5.0            1
10  1988        50.0        40.0                 10.0            1
11  1988        56.0        44.0                 12.0            1

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64