In [3]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#2004"
response = requests.get(url)
soup = BeautifulSoup(response.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response.status_code}')

# Get all tables in wikitable class
tables = soup.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables)}')

# Load the 2004 polling table manually by index
df = pd.read_html(str(tables[17]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df.head(250))

# Rename candidate columns for consistency
df = df.rename(columns={
    df.columns[2]: 'Democratic',
    df.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df.dtypes)

# Convert percentage strings to floats
df['Democratic'] = df['Democratic'].str.replace('%', '').astype(float)
df['Republican'] = df['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df.dtypes)

# Add calculated columns
df['Poll_Leading_Margin'] = abs(df['Democratic'] - df['Republican'])
df['Poll_Leader'] = (df['Republican'] > df['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df.head(250))

print(list(df.columns))

# Drop the extra columns
df = df.drop(columns='Month')
#df = df.drop(columns=['Ralph Nader (Green)\xa0%'])

print('\nDropped Extra Columns:')
display(df.head(250))

# Drop final summary rows (row 21 and 22)
df = df.drop(index=[21, 22])
df.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (21 & 22):')
display(df.tail())

print('\nFinal dtypes:')
display(df.dtypes)

# Add year column at the beginning
df.insert(0, 'year', 2004)

df = df.dropna(subset=['Democratic', 'Republican'], how='all')
df = df.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df.head(250))

print('\nNumber of Nulls left:')
display(df.isnull().sum())

df_18 = df

df_18.to_csv("2004_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12781/2358457053.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[17]))[0]

,Month,George W. Bush (R) %,John Kerry (D) %
0,March,44%,50%
1,March,49%,45%
2,April,47%,43%
3,April,50%,44%
4,May,47%,47%
5,May,47%,45%
6,May,46%,47%
7,June,43%,49%
8,June,48%,47%
9,July,45%,50%
10,July,46%,47%
11,July,51%,45%
12,August,48%,46%
13,August,48%,46%
14,September,52%,45%
15,September,52%,44%
16,October,49%,49%
17,October,48%,49%
18,October,52%,44%
19,October,51%,46%
20,October,49%,49%
21,Actual result,50.73%,48.26%
22,Difference between actual result and final poll,+1.73%,-0.74%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                                             March        44%        50%
1                                             March        49%        45%
2                                             April        47%        43%
3                                             April        50%        44%
4                                               May        47%        47%
5                                               May        47%        45%
6                                               May        46%        47%
7                                              June        43%        49%
8                                              June        48%        47%
9                                              July        45%        50%
10                                             July        46%        47%
11                                             July        51%        45%
12                                           August        48%        46%
13                                           August        48%        46%
14                                        September        52%        45%
15                                        September        52%        44%
16                                          October        49%        49%
17                                          October        48%        49%
18                                          October        52%        44%
19                                          October        51%        46%
20                                          October        49%        49%
21                                    Actual result     50.73%     48.26%
22  Difference between actual result and final poll     +1.73%     -0.74%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,March,44.00,50.00,6.00,0
1,March,49.00,45.00,4.00,1
2,April,47.00,43.00,4.00,1
3,April,50.00,44.00,6.00,1
4,May,47.00,47.00,0.00,0
5,May,47.00,45.00,2.00,1
6,May,46.00,47.00,1.00,0
7,June,43.00,49.00,6.00,0
8,June,48.00,47.00,1.00,1
9,July,45.00,50.00,5.00,0
10,July,46.00,47.00,1.00,0
11,July,51.00,45.00,6.00,1
12,August,48.00,46.00,2.00,1
13,August,48.00,46.00,2.00,1
14,September,52.00,45.00,7.00,1
15,September,52.00,44.00,8.00,1
16,October,49.00,49.00,0.00,0
17,October,48.00,49.00,1.00,0
18,October,52.00,44.00,8.00,1
19,October,51.00,46.00,5.00,1
20,October,49.00,49.00,0.00,0
21,Actual result,50.73,48.26,2.47,1
22,Difference between actual result and final poll,1.73,-0.74,2.47,1

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0        44.00       50.00                 6.00            0
1        49.00       45.00                 4.00            1
2        47.00       43.00                 4.00            1
3        50.00       44.00                 6.00            1
4        47.00       47.00                 0.00            0
5        47.00       45.00                 2.00            1
6        46.00       47.00                 1.00            0
7        43.00       49.00                 6.00            0
8        48.00       47.00                 1.00            1
9        45.00       50.00                 5.00            0
10       46.00       47.00                 1.00            0
11       51.00       45.00                 6.00            1
12       48.00       46.00                 2.00            1
13       48.00       46.00                 2.00            1
14       52.00       45.00                 7.00            1
15       52.00       44.00                 8.00            1
16       49.00       49.00                 0.00            0
17       48.00       49.00                 1.00            0
18       52.00       44.00                 8.00            1
19       51.00       46.00                 5.00            1
20       49.00       49.00                 0.00            0
21       50.73       48.26                 2.47            1
22        1.73       -0.74                 2.47            1

After Dropping Final Rows (21 & 22):

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
16        49.0        49.0                  0.0            0
17        48.0        49.0                  1.0            0
18        52.0        44.0                  8.0            1
19        51.0        46.0                  5.0            1
20        49.0        49.0                  0.0            0

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

    year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0   2004        44.0        50.0                  6.0            0
1   2004        49.0        45.0                  4.0            1
2   2004        47.0        43.0                  4.0            1
3   2004        50.0        44.0                  6.0            1
4   2004        47.0        47.0                  0.0            0
5   2004        47.0        45.0                  2.0            1
6   2004        46.0        47.0                  1.0            0
7   2004        43.0        49.0                  6.0            0
8   2004        48.0        47.0                  1.0            1
9   2004        45.0        50.0                  5.0            0
10  2004        46.0        47.0                  1.0            0
11  2004        51.0        45.0                  6.0            1
12  2004        48.0        46.0                  2.0            1
13  2004        48.0        46.0                  2.0            1
14  2004        52.0        45.0                  7.0            1
15  2004        52.0        44.0                  8.0            1
16  2004        49.0        49.0                  0.0            0
17  2004        48.0        49.0                  1.0            0
18  2004        52.0        44.0                  8.0            1
19  2004        51.0        46.0                  5.0            1
20  2004        49.0        49.0                  0.0            0

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64