In [3]:
# Consolidated into one code block to make it easier to scrape data for project. 
# Each print statement should allow me to see the output as it is running, incase any changes or tweaks need to be made. 
import requests
from bs4 import BeautifulSoup
import pandas as pd

# Load the Wiki page
url = "https://en.wikipedia.org/wiki/Polling_for_United_States_presidential_elections#2024"
response = requests.get(url)
soup = BeautifulSoup(response.content)

# Status of request
print(f'Status Code of Wikipedia site is: {response.status_code}')

# Get all tables in wikitable class
tables = soup.find_all("table", class_="wikitable")
print(f'Number of tables is: {len(tables)}')

# Load the 2024 polling table manually by index
df = pd.read_html(str(tables[22]))[0]

# Show raw table
print('\nRaw Table Preview:')
display(df.head(250))

# Rename candidate columns for consistency
df = df.rename(columns={
    df.columns[2]: 'Democratic',
    df.columns[1]: 'Republican'
})

print('\nRenamed Columns Table Preview:')
display(df.head(250))

# Show data types before conversion
print('\nData Types Before Conversion:')
display(df.dtypes)

# Convert percentage strings to floats
df['Democratic'] = df['Democratic'].str.replace('%', '').astype(float)
df['Republican'] = df['Republican'].str.replace('%', '').astype(float)

# Show data types after conversion
print('\nData Types After Conversion:')
display(df.dtypes)

# Add calculated columns
df['Poll_Leading_Margin'] = abs(df['Democratic'] - df['Republican'])
df['Poll_Leader'] = (df['Republican'] > df['Democratic']).astype(int)

print('\nTable with New Columns:')
display(df.head(250))

print(list(df.columns))

# Drop the extra columns
df = df.drop(columns='Month')
#df = df.drop(columns=['Gary Johnson (L)\xa0%', 'Jill Stein (G)\xa0%'])

print('\nDropped Extra Columns:')
display(df.head(250))

# Drop final summary rows (row 30 and 31)
df = df.drop(index=[30, 31])
df.reset_index(drop=True, inplace=True)

print('\nAfter Dropping Final Rows (30 & 31):')
display(df.tail())

print('\nFinal dtypes:')
display(df.dtypes)

# Add year column at the beginning
df.insert(0, 'year', 2024)

df = df.dropna(subset=['Democratic', 'Republican'], how='all')
df = df.reset_index(drop=True)

print('\nFinal Table with Year Column:')
display(df.head(250))

print('\nNumber of Nulls left:')
display(df.isnull().sum())

df_23 = df

df_23.to_csv("2024_Opinion_Polling_Data_cleaned.csv", index=False)

Status Code of Wikipedia site is: 200
Number of tables is: 23

Raw Table Preview:

/var/folders/t1/nb2p0ppn0t1fldv4wgzvfrtw0000gn/T/ipykernel_12968/430547429.py:20: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(tables[22]))[0]

,Month,Donald Trump (R) %,Kamala Harris [a] (D) %
0,February,46%,44%
1,February,45%,44%
2,February,47%,45%
3,March,48%,45%
4,March,47%,46%
5,March,47%,45%
6,April,47%,46%
7,April,46%,46%
8,April,45%,45%
9,April,45%,44%
10,April,47%,45%
11,May,46%,45%
12,May,47%,46%
13,May,48%,46%
14,June,46%,46%
15,June,45%,45%
16,June,46%,45%
17,July,47%,44%
18,July,47%,45%
19,July,48%,45%
20,July,48%,46%
21,August,47%,47%
22,August,47%,48%
23,September,46%,48%
24,September,47%,48%
25,September,47%,49%
26,October,48%,49%
27,October,49%,49%
28,October,49%,48%
29,November,49%,49%
30,Actual result,49.80%,48.32%
31,Difference between actual result and final poll,+0.80%,-0.68%

Renamed Columns Table Preview:

                                              Month Republican Democratic
0                                          February        46%        44%
1                                          February        45%        44%
2                                          February        47%        45%
3                                             March        48%        45%
4                                             March        47%        46%
5                                             March        47%        45%
6                                             April        47%        46%
7                                             April        46%        46%
8                                             April        45%        45%
9                                             April        45%        44%
10                                            April        47%        45%
11                                              May        46%        45%
12                                              May        47%        46%
13                                              May        48%        46%
14                                             June        46%        46%
15                                             June        45%        45%
16                                             June        46%        45%
17                                             July        47%        44%
18                                             July        47%        45%
19                                             July        48%        45%
20                                             July        48%        46%
21                                           August        47%        47%
22                                           August        47%        48%
23                                        September        46%        48%
24                                        September        47%        48%
25                                        September        47%        49%
26                                          October        48%        49%
27                                          October        49%        49%
28                                          October        49%        48%
29                                         November        49%        49%
30                                    Actual result     49.80%     48.32%
31  Difference between actual result and final poll     +0.80%     -0.68%

Data Types Before Conversion:

Month         object
Republican    object
Democratic    object
dtype: object

Data Types After Conversion:

Month          object
Republican    float64
Democratic    float64
dtype: object

Table with New Columns:

,Month,Republican,Democratic,Poll_Leading_Margin,Poll_Leader
0,February,46.0,44.00,2.00,1
1,February,45.0,44.00,1.00,1
2,February,47.0,45.00,2.00,1
3,March,48.0,45.00,3.00,1
4,March,47.0,46.00,1.00,1
5,March,47.0,45.00,2.00,1
6,April,47.0,46.00,1.00,1
7,April,46.0,46.00,0.00,0
8,April,45.0,45.00,0.00,0
9,April,45.0,44.00,1.00,1
10,April,47.0,45.00,2.00,1
11,May,46.0,45.00,1.00,1
12,May,47.0,46.00,1.00,1
13,May,48.0,46.00,2.00,1
14,June,46.0,46.00,0.00,0
15,June,45.0,45.00,0.00,0
16,June,46.0,45.00,1.00,1
17,July,47.0,44.00,3.00,1
18,July,47.0,45.00,2.00,1
19,July,48.0,45.00,3.00,1
20,July,48.0,46.00,2.00,1
21,August,47.0,47.00,0.00,0
22,August,47.0,48.00,1.00,0
23,September,46.0,48.00,2.00,0
24,September,47.0,48.00,1.00,0
25,September,47.0,49.00,2.00,0
26,October,48.0,49.00,1.00,0
27,October,49.0,49.00,0.00,0
28,October,49.0,48.00,1.00,1
29,November,49.0,49.00,0.00,0
30,Actual result,49.8,48.32,1.48,1
31,Difference between actual result and final poll,0.8,-0.68,1.48,1

['Month', 'Republican', 'Democratic', 'Poll_Leading_Margin', 'Poll_Leader']

Dropped Extra Columns:

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0         46.0       44.00                 2.00            1
1         45.0       44.00                 1.00            1
2         47.0       45.00                 2.00            1
3         48.0       45.00                 3.00            1
4         47.0       46.00                 1.00            1
5         47.0       45.00                 2.00            1
6         47.0       46.00                 1.00            1
7         46.0       46.00                 0.00            0
8         45.0       45.00                 0.00            0
9         45.0       44.00                 1.00            1
10        47.0       45.00                 2.00            1
11        46.0       45.00                 1.00            1
12        47.0       46.00                 1.00            1
13        48.0       46.00                 2.00            1
14        46.0       46.00                 0.00            0
15        45.0       45.00                 0.00            0
16        46.0       45.00                 1.00            1
17        47.0       44.00                 3.00            1
18        47.0       45.00                 2.00            1
19        48.0       45.00                 3.00            1
20        48.0       46.00                 2.00            1
21        47.0       47.00                 0.00            0
22        47.0       48.00                 1.00            0
23        46.0       48.00                 2.00            0
24        47.0       48.00                 1.00            0
25        47.0       49.00                 2.00            0
26        48.0       49.00                 1.00            0
27        49.0       49.00                 0.00            0
28        49.0       48.00                 1.00            1
29        49.0       49.00                 0.00            0
30        49.8       48.32                 1.48            1
31         0.8       -0.68                 1.48            1

After Dropping Final Rows (30 & 31):

    Republican  Democratic  Poll_Leading_Margin  Poll_Leader
25        47.0        49.0                  2.0            0
26        48.0        49.0                  1.0            0
27        49.0        49.0                  0.0            0
28        49.0        48.0                  1.0            1
29        49.0        49.0                  0.0            0

Final dtypes:

Republican             float64
Democratic             float64
Poll_Leading_Margin    float64
Poll_Leader              int64
dtype: object

Final Table with Year Column:

    year  Republican  Democratic  Poll_Leading_Margin  Poll_Leader
0   2024        46.0        44.0                  2.0            1
1   2024        45.0        44.0                  1.0            1
2   2024        47.0        45.0                  2.0            1
3   2024        48.0        45.0                  3.0            1
4   2024        47.0        46.0                  1.0            1
5   2024        47.0        45.0                  2.0            1
6   2024        47.0        46.0                  1.0            1
7   2024        46.0        46.0                  0.0            0
8   2024        45.0        45.0                  0.0            0
9   2024        45.0        44.0                  1.0            1
10  2024        47.0        45.0                  2.0            1
11  2024        46.0        45.0                  1.0            1
12  2024        47.0        46.0                  1.0            1
13  2024        48.0        46.0                  2.0            1
14  2024        46.0        46.0                  0.0            0
15  2024        45.0        45.0                  0.0            0
16  2024        46.0        45.0                  1.0            1
17  2024        47.0        44.0                  3.0            1
18  2024        47.0        45.0                  2.0            1
19  2024        48.0        45.0                  3.0            1
20  2024        48.0        46.0                  2.0            1
21  2024        47.0        47.0                  0.0            0
22  2024        47.0        48.0                  1.0            0
23  2024        46.0        48.0                  2.0            0
24  2024        47.0        48.0                  1.0            0
25  2024        47.0        49.0                  2.0            0
26  2024        48.0        49.0                  1.0            0
27  2024        49.0        49.0                  0.0            0
28  2024        49.0        48.0                  1.0            1
29  2024        49.0        49.0                  0.0            0

Number of Nulls left:

year                   0
Republican             0
Democratic             0
Poll_Leading_Margin    0
Poll_Leader            0
dtype: int64